.appointment-item {
  border: 1px solid #b5b7c4;
  border-radius: 8px;
  padding: 10px;
  width: 45%;
  margin: 10px;
}

.item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 14px;
  color: #171f46;
}

.star-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.star-img {
  width: 20px;
}

.date {
  font-size: 12px;
  color: #b5b7c4;
  margin-top: 8px;
}
